.footer__copyright {
  color: #545454;
  text-align: start;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
@media (max-width: 400px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
    margin-left: 19px;
  }
}
