.popup__close_type_zoom {
  all: unset;
  padding-bottom: 8px;
  margin-right: -30px;
  display: block;
  justify-self: end;
  width: 32px;
  height: 32px;
  background-image: url(../../../../images/close-icon-320px.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
@media (max-width: 500px) {
  .popup__close_type_zoom {
    left: 283px;
  }
}
@media (max-width: 390px) {
  .popup__close_type_zoom {
    padding-bottom: 16px;
    margin-right: 0;
    left: 250px;
    width: 20px;
    height: 20px;
  }
}
.popup__close_type_zoom:hover {
  transition: 1s linear;
  opacity: 0.6;
}
