.popup__zoom-caption {
  all: unset;
  margin-top: 10px;
  color: white;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}
