.logo {
  width: 142px;
  height: 33px;
  margin-top: 41px;
}
@media (max-width: 920px) {
  .logo {
    margin-left: 20px;
  }
}
@media (max-width: 400px) {
  .logo {
    width: 103.74px;
    height: 24.4px;
    margin-top: 28px;
    margin-left: 27px;
  }
}
